language: php

php:
  - 7.1
  - 7.2
  - 7.3
  - 7.4

jobs:
  include:
    - stage: analysis
      php: 7.4
      env: XDEBUG_MODE=coverage
      before_script:
        - composer global require infection/infection
      script:
        - composer psalm
        - ~/.config/composer/vendor/bin/infection --min-msi=90

install:
  - travis_retry composer install

script:
  - composer tests
